.user-input{

    font-size: 20px;
    padding: 5px;
    width: 400px;
    max-width: 100%;
    outline: none;
}

.info-wrapper{
    border:  1px solid gray;
    background-color: rgb(78, 85, 70);
    padding: 10px 15px;
    width: fit-content;
    max-width: 100%;
}

.input-wrapper{

    width: fit-content;
    max-width: 100%;
}
.x-mark{
    position: fixed;
    right: 20px;
}
.table{
    border-radius: 10px;
    background-color: rgb(190, 192, 84);
    padding: 10px;
    color: white;
}
td,th{
    padding: 10px 20px !important;
}

@media only screen  and (max-width:568px) {

    .user-input{
        font-size: 16px;
        padding: 5px 0px;
        width: 200px;
    }

    
}