.App{
  width: 100vw;
  height: fit-content;
  min-height: 100vh;
  background-color: rgb(214, 123, 218);
}



.center{
  display: flex;
  align-items: center;
  justify-content: center;
}
.center-v{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.full-width{
  width:  100%;
}
.text-center{
  text-align: center;
}
.text-color{
  color: white;
}
.error{
  font-size: 18px;
  color: red;
}

.message{
  position: fixed;
  top : 70px
}
